extend layout

block content

	.scd.clearfix
		.scd_l
			.pst
				span 关于火星人
			.space_hx  
			.s_nav
				a.on(href='') 公司简介
				a(href='partner') 合作伙伴
				a(href='') 火星人文化
				a(href='contact') 联系我们
				a(href='') 总裁致辞
			.space_hx  
			.code
				img(src='/fthree/images/header/mars-wechat.png')
				p 扫一扫微信二维码
		.scd_r
			.r_nav.clearfix
				span.goBack  
				span.pst 关于火星人
				.r_navm.clearfix
					.n_ico 导航栏
					.n_m
						a(href='/') 首页
						a.now(href='about') 关于火星人
						a(href='product') 我们的业务
						a(href='news') 新闻中心
						a(href='join') 加入融启
			.space_hx  
			.r_name
				i  
				span 公司简介
			.scd_rm.about
				h1(style='font-size:18px; color:#333333; font-weight:normal;') 南宁火星人信息科技有限公司
				p
					| 南宁火星人信息科技有限公司由留学人员杜聪回国创办，是一家致力于电子商务系统研发及提供相关配套增值服务的企业，公司在英国伦敦设有分部。公司将凭借总经理多年在英国为多家电子商务和网络媒体公司提供咨询服务的经验，能够为正在从事或即将设计电子商务的企业提供配套的增值性的咨询服务，其中包括电子商务整合方案策划，B2B,B2C整体解决方案，移动APP解决方案，网络媒体市场营销，网络品牌及形象推广，网络用户调研，数据采集和经济模型分析，项目预算与评估，财务分析和融资方案等。
			.space_hx  
			.r_name
				i  
				span 公司环境
			.space_hx  
			.scd_rm.hj
				img(src='/fthree/images/about/pic4.jpg', alt='', width='1000', height='605', style='border:10px solid #FFF;')
