extend layout

block content

	.scd.clearfix
		.scd_l
			.pst
				span 关于融启
			.space_hx  
			.s_nav
				a.on(href='') 公司简介
				a(href='partner') 合作伙伴
				a(href='') 融启文化
				a(href='contact') 联系我们
				a(href='') 总裁致辞
			.space_hx  
			.code
				img(src='/public/images/code.jpg', alt='')
				p 扫一扫微信二维码
		.scd_r
			.r_nav.clearfix
				span.goBack  
				span.pst 关于融启
				.r_navm.clearfix
					.n_ico 导航栏
					.n_m
						a(href='/') 首页
						a.now(href='about') 关于融启
						a(href='product') 我们的业务
						a(href='news') 新闻中心
						a(href='join') 加入融启
			.space_hx  
			.r_name
				i  
				span 公司简介
			.scd_rm.about
				h1(style='font-size:18px; color:#333333; font-weight:normal;') 前海融启金融控股有限公司
				p
					| 深圳市前海融启金融控股有限公司 (简称"融启金控")注册于深圳前海，是一家以基金管理、股权投资、财富管理、财务顾问为主营业务的综合性金融控股集团。
					| 公司凭借完善的公司治理结构、严格的风险管理机制、规范的业务流程、高效专业的团队、开放的文化氛围， 努力打造成领先的金融服务提供商。
			.space_hx  
			.r_name
				i  
				span 公司环境
			.space_hx  
			.scd_rm.hj
				img(src='/public/images/about/pic4.jpg', alt='', width='1000', height='605', style='border:10px solid #FFF;')
