extends layout 

block content
	.scd.clearfix
		.scd_l
			.pst
				span 关于融启
			.space_hx  
			.s_nav
				a(href='') 公司简介
				a(href='partner') 合作伙伴
				a(href='') 融启文化
				a.on(href='contact') 联系我们
				a(href='') 总裁致辞
			.space_hx  
			.code
				img(src='/fthree/images/code.jpg', alt='')
				p 扫一扫微信二维码
		.scd_r
			.r_nav.clearfix
				span.goBack  
				span.pst 关于融启
				.r_navm.clearfix
					.n_ico 导航栏
					.n_m
						a(href='/') 首页
						a.now(href='about') 关于融启
						a(href='product') 我们的业务
						a(href='news') 新闻中心
						a(href='join') 加入融启
			.space_hx  
			.r_name
				i  
				span 公司地址
			.space_hx  
			.scd_rm.contact.clearfix
				.ct.ct_l
					.name 总部地址：
					.des
						p 深圳市福田区金田路4028号荣超经贸中心27楼2708(附地图)
						p
							em 联系电话：
							| 0755-25327271
						p
							em 客服邮箱：
							| services@rookeey.com
						p
							em 邮编：
							| 518038
					.map
						img(src='/fthree/images/contact/pic6.jpg', alt='')
				.ct.ct_r
					.name 佛山分公司：
					.des
						p 佛山市南海区桂城佛平三路6号振鹏大厦五楼(附地图)
						p
							em 联系电话：
							| 0757-86255610
						p
							em 客服邮箱：
							| services@rookeey.com
						p
							em 邮编：
							| 528200
					.map
						img(src='/fthree/images/contact/pic6.jpg', alt='')
