extends layout


block content
	body(style='overflow: hidden;')
		.section-wrap
			.section.section-1
				.sct_a
					#banner.banner
						#owl-demo.owl-carousel
							a.item(target='_blank', href='', style='background-image:url(/fthree/images/home/banner_a.jpg)')  
							a.item(target='_blank', href='', style='background-image:url(/fthree/images/home/banner_a.jpg)')
							a.item(target='_blank', href='', style='background-image:url(/fthree/images/home/banner_a.jpg)')  
							a.item(target='_blank', href='', style='background-image:url(/fthree/images/home/banner_a.jpg)')  
					.i_news
						.t_news
							b NEWS：
							ul.news_li
								li
									a(href='', target='_blank')
										p 深圳市前海融启金融控股有限公司...
								li
									a(href='', target='_blank')
										p 深圳市前海融启金融控股有限公司...
								li
									a(href='', target='_blank')
										p 深圳市前海融启金融控股有限公司...
							ul.swap
							a.more(href='/') More
			
			
			
			.section.section-2
				.i_title
					img(src='/fthree/images/home/n1.png', alt='', width='293', height='32')
					p 了解融启金控
				.space_hx  
				ul.i_about.clearfix
					li
						a(href='about')
							.tu
								img.red(src='/fthree/images/home/icon2.png', alt='')
								img.white(src='/fthree/images/home/icon2_1.png', alt='')
							p 公司简介
					li
						a(href='paner')
							.tu
								img.red(src='/fthree/images/home/icon3.png', alt='')
								img.white(src='/fthree/images/home/icon3_1.png', alt='')
							p 合作伙伴
					li
						a(href='')
							.tu
								img.red(src='/fthree/images/home/icon4.png', alt='')
								img.white(src='/fthree/images/home/icon4_1.png', alt='')
							p 融启文化
					li
						a(href='contact')
							.tu
								img.red(src='/fthree/images/home/icon5.png', alt='')
								img.white(src='/fthree/images/home/icon5_1.png', alt='')
							p 联系我们
					li
						a(href='')
							.tu
								img.red(src='/fthree/images/home/icon6.png', alt='')
								img.white(src='/fthree/images/home/icon6_1.png', alt='')
							p 总裁致辞
			.section.section-3
				.i_title
					img(src='/fthree/images/home/n2.png', alt='', width='375', height='32')
					p 我们能做什么？
				.space_hx  
				.mainPhoto
					span.goleft.nextPage
						a(href='javascript:void(0)')
							img(src='/fthree/images/home/prev.png', alt='')
					.go.slidegrid
						ul.slideitems.i_service.clearfix
							li
								.tu
									img(src='/fthree/images/home/p1.png', alt='')
								.wen
									.name 对冲基金
									p 量化对冲基金：运用量化的方法发掘市场上的投资机会，利用股指期货对...
									a(href='product') +MORE
							li
								.wen
									.name 定增基金
									p 定向增发投资基金（简称定增基金）是指参与上市公司定向增发为主的基...
									a(href='product') +MORE
								.tu
									img(src='/fthree/images/home/p2.png', alt='')
							li
								.tu
									img(src='/fthree/images/home/p3.png', alt='')
								.wen
									.name 并购基金
									p 并购基金，是指专注于从事企业并购投资的基金，运作模式是以控股或...
									a(href='product') +MORE
							li
								.wen
									.name 股权投资
									p 通过自身资源优势，为被投企业提供各类资源整合，为其在市场开拓...
									a(href='product') +MORE
								.tu
									img(src='/fthree/images/home/p4.png', alt='')
							li
								.tu
									img(src='/fthree/images/home/p5.png', alt='')
								.wen
									.name 财务顾问
									p 融启资本成立于2015年，是一家领先的风险投资和私募股权基金管理...
									a(href='product') +MORE
					span.goright.prevPage
						a(href='javascript:void(0)')
							img(src='/fthree/images/home/next.png', alt='')
			.section.section-4
				.i_title
					img(src='/fthree/images/home/n3.png', alt='', width='360', height='32')
					p 我们有什么发现！
				.space_hx  
				.mainPhoto
					span.goleft.nextPage
						a(href='javascript:void(0)')
							img(src='/fthree/images/home/prev.png', alt='')
					.go.slidegrid
						ul.slideitems.i_new.clearfix
							li
								a(href='news_a')
									.tu
										img(src='/fthree/images/home/pic1.jpg', alt='')
										.bg_a
											img(src='/fthree/images/home/icon7.png', alt='')
									.wen
										p 公司新闻
										.title 融启量化对冲FOF一号契约型基金
										p.qian 量化对冲基金
							li
								a(href='news')
									.tu
										img(src='/fthree/images/home/pic2.jpg', alt='')
										.bg_a
											img(src='/fthree/images/home/icon7.png', alt='')
									.wen
										p 行业动态
										.title 融启定向增发一号基金
										p.qian 定向增发投资基金（简称定增基金）
							li
								a(href='news')
									.tu
										img(src='/fthree/images/home/pic3.jpg', alt='')
										.bg_a
											img(src='/fthree/images/home/icon7.png', alt='')
									.wen
										p 融启新闻
										.title 融启并购1号基金
										p.qian 并购基金，是指专注于从事企业并购投资的基金
					span.goright.prevPage
						a(href='javascript:void(0)')
							img(src='/fthree/images/home/next.png', alt='')
				.i_more
					a(href='news') MORE
			.section.section-5
				.i_title
					img(src='/fthree/images/home/n4.png', alt='', width='387', height='32')
					p 欢迎您加入融启大家庭！
				.space_hx  
				.mainPhoto
					span.goleft.nextPage
						a(href='javascript:void(0)')
							img(src='/fthree/images/home/prev.png', alt='')
					.go.slidegrid
						ul.slideitems.i_member.clearfix
							li
								a(href='join')
									.name 投资经理
									.des 5年以上金融相关工作经验，有3年以上知名投行、投资机构或产业公司...
									em +MOER
							li
								a(href='join')
									.name 财富业务总监
									.des 5年以上金融相关工作经验，有3年以上知名投行、投资机构或产业公司...
									em +MOER
							li
								a(href='join')
									.name 金融产品设计师
									.des 5年以上金融相关工作经验，有3年以上知名投行、投资机构或产业公司...
									em +MOER
							li
								a(href='join')
									.name 行政前台
									.des 5年以上金融相关工作经验，有3年以上知名投行、投资机构或产业公司...
									em +MOER
					span.goright.prevPage
						a(href='javascript:void(0)')
							img(src='/fthree/images/home/next.png', alt='')
		
		
		
		
		
		
		
		include lib/header




block script
	script.
		$(function () {
			$('#owl-demo').owlCarousel({
				items: 1,
				navigation: true,
				navigationText: ["上一个", "下一个"],
				autoPlay: true,
				stopOnHover: true
			}).hover(function () {
				$('.owl-buttons').show();
			}, function () {
				$('.owl-buttons').hide();
			});
		});
		 $(function () {
			$('.mainPhoto .slidegrid').scrollable({ size: 1, circular: true, next: '.nextPage', prev: '.prevPage' });
		});	