extends layout

block content
	.scd.clearfix
		.scd_l
			.pst
				span 加入融启
			.space_hx  
			.s_nav
				a(href='') 投资经理
				a.on(href='') 财富业务总监
				a(href='') 金融产品设计师
				a(href='') 行政前台
			.space_hx  
			.code
				img(src='/fthree/images/header/mars-wechat.png')
				p 扫一扫微信二维码
		.scd_r
			.r_nav.clearfix
				span.goBack  
				span.pst 加入融启
				.r_navm.clearfix
					.n_ico 导航栏
					.n_m
						a(href='/') 首页
						a(href='about') 关于融启
						a(href='product') 我们的业务
						a(href='news') 新闻中心
						a.now(href='join') 加入融启
			.space_hx  
			.r_name
				i  
				span 岗位职责
			.scd_rm.join
				p 1、执行公司基金募集计划，制定和实施募资方案，完成募资目标；
				p 2、针对私募基金等产品特性，建设、拓展和维护销售渠道，提供产品信息和培训；
				p 3、与银行、企业、证券、信托、保险、民间资本等相关机构建立联系，保持日常业务沟通与联络；
				p 4、负责基金发行方案制定、实施，路演活动的策划、协调以及编写募集说明书；
				p 5、开发潜在机构和个人客户，使客户认可并认购基金产品；
				p 6、打造和管理财富管理团队，带领财富团队完成公司募集资金的目标；
				p 7、负责建立、补充、发展、培养财富经理队伍，指导和支持财富工作，并解决团队工作中的复杂或棘手问题。
			.space_hx  
			.r_name
				i  
				span 任职要求
			.scd_rm.join
				p 1、执行公司基金募集计划，制定和实施募资方案，完成募资目标；
				p 2、针对私募基金等产品特性，建设、拓展和维护销售渠道，提供产品信息和培训；
				p 3、与银行、企业、证券、信托、保险、民间资本等相关机构建立联系，保持日常业务沟通与联络；
				p 4、负责基金发行方案制定、实施，路演活动的策划、协调以及编写募集说明书；
				p 5、开发潜在机构和个人客户，使客户认可并认购基金产品；
				p 6、打造和管理财富管理团队，带领财富团队完成公司募集资金的目标；
				p 7、负责建立、补充、发展、培养财富经理队伍，指导和支持财富工作，并解决团队工作中的复杂或棘手问题。
