extends layout

block content
	.scd.clearfix
		.scd_l
			.pst
				span 关于融启
			.space_hx  
			.s_nav
				a(href='') 公司简介
				a.on(href='paner') 合作伙伴
				a(href='') 融启文化
				a(href='contact') 联系我们
				a(href='') 总裁致辞
			.space_hx  
			.code
				img(src='/fthree/images/partner/mars-wechat.png', alt='')
				p 扫一扫微信二维码
		.scd_r
			.r_nav.clearfix
				span.goBack  
				span.pst 关于融启
				.r_navm.clearfix
					.n_ico 导航栏
					.n_m
						a(href='/') 首页
						a.now(href='about') 关于融启
						a(href='product') 我们的业务
						a(href='news') 新闻中心
						a(href='join') 加入融启
			.space_hx  
			.r_name
				i  
				span 合作伙伴
			.space_hx  
			ul.scd_rm.paner.clearfix
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
				li
					a(href='')
						img(src='/fthree/images/partner/pic5.jpg', alt='')
