.header
  .head.clearfix
    .logo
      img(src='fthree/images/header/mars-logo.png', alt='')
    .nav
      .nav_ico  
      ul.section-btn
        li.on 首页
        li 关于融启
        li 我们的业务
        li 新闻中心
        li 加入融启
    .h_tel
      img(src='fthree/images/header/tel.png', alt='')
.arrow  